@import url('https://fonts.googleapis.com/css?family=Lato');

body {
  font-family: 'Lato';
  color: $dark;
  text-align: center;
  margin: 0 auto;
  background: lightblue;
  width: 95%;
}

.synthCompany-item {
  border: 2px solid $dark;
  width: 95%;
  margin: calc(5% / 3);
  float: left;
  padding-top: 1%;
  h2 {
    margin: 3% auto;
  }
}

@media only screen and (max-width: 759px){
  h1 {
  font-size: 3em;
  }

  h2 {
    font-size: 2em;
    margin-top: 1%;
  }

  h3 {
    font-size: 1.75em;
    margin-top: 3%;
  }

  h4 {
    font-size: 1.5em;
    margin-bottom: 3%;
  }
}

@media only screen and (min-width: 760px) {
  .synthCompany-item {
    width: 45%;
  }
  h1 {
  font-size: 1.625em;
  }

  h2 {
    font-size: 1.5em;
  }

  h3 {
    font-size: 1.25em;
  }

  h4 {
    font-size: 1.125em;
  }
}

@media only screen and (min-width: 1024px) {
  .synthCompany-item {
    width: calc((100% / 3) - 3.9%);
  }
}