@import url('https://fonts.googleapis.com/css?family=Lato|Roboto+Mono');

$color-red: red;
$color-pink: #ff7a7a;

$color-black: #000;
$color-darkgrey: #26262b;
$color-grey: #47474b;
$color-lightgrey: #abc;
$color-white: #fff;

$color-primary: darkSlateGray;
$color-secondary: #e5a819;
$color-tertiary: cornSilk;
$spacing: 1em;
$edges: 10px;

$pad: 0.5em;

$font-main: 'Lato', sans-serif;
$font-mono: 'Roboto Mono', monospace;